html {
  background: url('/portfolio/IMG_6490.jpg') no-repeat center fixed;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  html {
    background: url('/portfolio/IMG_1227.jpg') no-repeat center fixed;
    background-size: cover;
  }
}

body {
  color: #222;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

body p {
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar {
  color: #f6f6f6;
  border-radius: 0.5em;
  height: 4em;
  padding: 1.5em;
  background-color: rgba(0.3, 0.3, 0.3, 0.5);
  margin-right: 0.5em;
  margin-left: 0.5em;
}

@media screen and (max-width: 576px) {
  .bar {
    display: none;
  }
}

.field {
  margin: 0 0.5em
}

.picture {
  border-radius: 0.5em;
}

.main-block {
  background-color: #f6f6f6;
  border-radius: 0.5em;
  margin-top: 3em;
  box-shadow: 0 1em 3em 0.5em;
}

.navbar-color {
  background-color: #f6f6f6;
}

