html {
  background: url('/portfolio/_MG_6490.jpg') no-repeat center fixed;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  html {
    background: url('/portfolio/IMG_1227.jpg') no-repeat center fixed;
    background-size: cover;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.field {
  margin: 0 0.5em
}

.picture {
  border-radius: 5px;
}

.main-block {
  background-color: #f6f6f6;
  box-shadow: 0 1em 3em 0.5em;
}

.navbar-color {
  background-color: #f6f6f6;
}

